@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


body {
  min-height: 90vh;
  /* background: #212534; */
  background:url(../assets/watsup/background.jpg);
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding-top: 100px; */
  /* padding-bottom: 100px; */
  box-sizing: border-box;
  max-width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.card {
  background-image: url(../assets/watsup/anxiety.jpg);
  background-size: 230%;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  /* background: #191c29; */
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 30px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}

.isi {
  font-size: 1rem;
  color: white;
  text-shadow: 2px 2px 8px black;
}


.save {
  font-size: 25px;
  color: rgb(34, 34, 34);
}

.box-save{
  margin: 20px;
  text-align:center;
  background-color: white;
  width: var(--card-width);
  height: 50px;
  border-radius: 15px;
}