.profile {
  margin: auto;
  padding-left: 20px;
  height: max-content;
  width: 960px;
}

.menu-bottom {
  width: 960px;
  display: flex;
  margin: auto;
  margin-bottom: 100px;
  justify-content: space-around;
}

.bloc-icon {
  /* margin:10px auto 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

.menu-icon {
  margin-right: 150px;
  margin-left: 150px;
}

section {
  padding-top: 200px;
  margin: auto;
  width: 960px;
}

.player {
  height: 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Changing the font sizes to suitable ones */
.track-artist {
  font-size: 1.5rem;
  margin: 10%;
}

/* Using flex with the row direction to
   align items in a horizontal direction */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5%;
}

.playpause-track {
  padding: 25px;
  opacity: 0.7;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

/* Change the opacity when mouse is hovered */
.playpause-track:hover{
  opacity: 1.0;
}

/* Define the slider width so that it scales properly */
.slider_container {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:1%
}

/* Modify the appearance of the slider */
.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 10px;
  background: black;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(255, 81, 0);
  cursor: pointer;
  border-radius: 50%;
}

/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

/* Change the mouse cursor to a pointer
   when hovered over */
i.fa-play-circle,
i.fa-pause-circle {
  cursor: pointer;
}