.profile {
    margin: auto;
    padding-left: 20px;
    height: max-content;
    width: 960px;
}

.menu-bottom {
  width: 960px;
  display: flex;
  margin: auto;
  margin-bottom: 100px;
  justify-content: space-around;
}

.bloc-icon {
  /* margin:10px auto 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

.menu-icon {
  margin-right: 150px;
  margin-left: 150px;
}

section {
    padding-top:200px;
    margin: auto;
    width: 960px;
}

.play-button{
    margin: auto 50%;
}

.audio-player{
    margin: auto;
}